/* html,
body {
  height: 100%;
}

.main {
  height: 100vh;
} */

.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.texto-principal {
  font-size: calc(15px + 2vmin);
}

.decorations {
  width: 10%;
}

@media (max-width: 992px) {
  .decorations {
    width: 17%;
  }
}

@media (max-width: 500px) {
  .decorations {
    width: 30%;
  }
}

@media (max-width: 425px) {
  .decorations {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .decorations {
    width: 28%;
  }
}
