.main-logo {
  width: 50vw;
}

.main-content {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #2d3f59;
}

.link {
  color: #a62a58;
}

.main-text {
  text-align: justify;
  text-align-last: left;
  margin: 0px 20px 0px 20px;
}
