.main-logo {
  width: 50vw;
}

.main-content {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

.link {
  color: #a62a58;
}

.text-container {
  text-align: justify;
  text-align-last: left;
  margin: 0px 20px 0px 20px;
}

span {
  font-family: 'Anaheim', sans-serif;
}

h1 {
  margin-block-start: 16px;
  margin-block-end: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

strong {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
